{% extends "base.html" %}

{% block title %}
Elageo | About Us
{% endblock %}

{% block body %}
<br>


<div class="container  myfontsize text-center">
  <div class="jumbotron">


  <p>

  Elageo is a Ghanaian based company comprising a team of highly skilled  civil/structural engineers and land administrators.
  our competences range from land identification, acquisition, registration, designing, construction, supervision and management of buildings.
  We have expertise in the application of Geographic Information Systems (GIS) in securing land tenure and land rights in Ghana. We also ensure that your buildings are structurally sound throughout its life span.
ELAgeo strives to be a market leader in engineering and land administration in Ghana by applying our values such as integrity, customer care, professionalism, due diligence, and innovation.
 </p>
<p>
  Company Strategy

  Purpose: To be a major player in the buiding industry by providing enhanced services, relationship and profitability.

  Vision: To provide quality services that exceeds the expectations of our esteemed customers.

  Mission statement: To build long term relationships with our customers and clients and provide exceptional customer services by pursuing business through innovation and advanced technology.

</div>

</p>
</div>


{% endblock %}
