{% extends "base.html" %} {% load static %} {% block title %} ELAageo | Home {% endblock %} {% block body %}

<div class="slider">
  <div id="about-slider">
    <div id="carousel-slider" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators visible-xs">
        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-slider" data-slide-to="1"></li>
        <li data-target="#carousel-slider" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src={% static "img/1_1.png" %} class="img-responsive img-w" alt="">
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
              <h2><span>Find a place you'd love to live </span></h2>
            </div>
            <!--  <div class="col-md-10 col-md-offset-1">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
              </div>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
              <form class="form-inline">
                <div class="form-group">
                  <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">Live Demo</button>
                </div>
                <div class="form-group">
                  <button type="getnow" name="Get Now" class="btn btn-primary btn-lg" required="required">Get Now</button>
                </div>
              </form>
            </div>-->
          </div>
        </div>

        <div class="item">
          <img src={% static "img/2_2d.png" %} class="img-responsive img-w" alt="">
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
              <h2>We design and build..</h2>
            </div>

            <!--<div class="col-md-10 col-md-offset-1">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
              </div>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
              <form class="form-inline">
                <div class="form-group">
                  <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">Live Demo</button>
                </div>
                <div class="form-group">
                  <button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Get Now</button>
                </div>
              </form>
            </div>-->
          </div>
        </div>


        <div class="item">
          <img src={% static "img/3_3b.png" %} class="img-responsive img-w" alt="">
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
              <h2>We take care of land registration</h2>

            </div>

            <!--<div class="col-md-10 col-md-offset-1">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
              </div>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
              <form class="form-inline">
                <div class="form-group">
                  <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">Live Demo</button>
                </div>
                <div class="form-group">
                  <button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Get Now</button>
                </div>
              </form>
            </div>-->
          </div>
        </div>

      </div>

      <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>

      <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    <!--/#carousel-slider-->
  </div>
  <!--/#about-slider-->
</div>
<!--/#slider-->
<br>
<!-- <div class="about"> -->
<div class="container">
  <div class="text-center">
    <h2><span id='ela'>ELA</span><span id='geo'>geo</span></h2>
    <div class="col-md-10 col-md-offset-1 homefontsize">
      <p>ELAgeo ltd is involved in designing, building and management of structures with the sole aim of satisfying its clients throughout the entire life time of the project.</p>
    </div>
  </div>
</div>
<!-- </div> -->
<hr>

<!-- <div class="services">
  <div class="container">
    <div class="text-center">
      <h2>consectetur adipisicing elit</h2>
    </div>
    <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
      <i class="fa fa-heart-o"></i>
      <h3>Fully Responsive</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.</p>
    </div>
    <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
      <i class="fa fa-cloud"></i>
      <h3>Retina Ready</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.</p>
    </div>
    <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
      <i class="fa fa-book"></i>
      <h3>Fresh and Clean</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.</p>
    </div>
    <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
      <i class="fa fa-gear"></i>
      <h3>Easy to Customize</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.</p>
    </div>
  </div>
</div>

<section class="action">
  <div class="container">
    <div class="left-text hidden-xs">
      <h4>Amet porro numquam ratione</h4>
      <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ut explicabo magni sapiente.</em><br><br>Inventore at quia, vel in repellendus, cumque dolorem autem ad quidem mollitia porro blanditiis atque rerum debitis eveniet nostrum aliquam. Sint aperiam expedita sapiente amet officia quis perspiciatis adipisci, iure dolorem esse exercitationem!</p>
    </div>
    <div class="right-image hidden-xs"></div>
  </div>
</section> -->


<div class="text-center">
  <h2 class='green'>Recent Listing</h2>
  <h4>RENTAL</h4>
</div>
<div class="container ">
  {% for prop in rentals %}
  <div class="prop_container col-md-4 col-sm-6 centered">
    <div class="prop_pix thumbnail">
      {% for image in prop.pictures.all|slice:"0:1" %}
      <a href="{% url "realtor:rent_detail" prop.id %}"> <img class='prop_img img-responsive' src="{{image.image.url}} " alt={{image.image.url}}></a>
      {% endfor %}
      <div class=" prop_details listingfontsize">

        <table class='table'>
          <tr>
            <td><strong> {{prop.property_type|title}}</strong></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><i class="fas fa-tag"></i><strong> {{prop.price}}</strong></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="fas fa-map-marker-alt"></i> {{prop.location|title}}</td>
            <td></td>
            <td></td>
          </tr>
          <table class="table">
            <tr>
              <td class='icon_detail'><i class="fas fa-bed"></i> {{prop.bed}} </td>
              <td class='icon_detail'><i class="fas fa-bath"></i> {{prop.bath}}</td>
              <td class='icon_detail'><i class="far fa-square"></i> {{prop.size}}sqm</td>
            </tr>
          </table>
        </table>
      </div>
    </div>

  </div>
  {% empty %}
  <div class="text-center">
    <h4>No recent listing</h4>
  </div>
  {% endfor %}
</div>
<div class="text-center">
  <a href="{% url 'realtor:rent_list' %}">
    <button type="button" name="button">
      <h4>View All Rentals</h4></button>
  </a>
</div>
<br>
<br>

<!--
    <div class="col-md-4">
      <figure class="effect-marley">
        <img src={% static "img/9.jpg" %} alt="" class="img-responsive"/>
        <figcaption>
          <h4>sweet marley</h4>
          <p>Marley tried to convince her but she was not interested.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4">
      <figure class="effect-marley">
        <img src={% static "img/10.jpg" %} alt="" class="img-responsive"/>
        <figcaption>
          <h4>sweet marley</h4>
          <p>Marley tried to convince her but she was not interested.</p>
        </figcaption>
      </figure>
    </div>
-->
<hr>

<div class="text-center">
  <h4>SALE</h4>
</div>

<div class="container ">
  {% for prop in sale %}

  <div class="prop_container col-md-4 col-sm-6 ">
    <div class="prop_pix thumbnail">
      {% for image in prop.pictures.all|slice:"0:1" %}
      <a href="{% url "realtor:rent_detail" prop.id %}"> <img class='prop_img img-responsive' src="{{image.image.url}} " alt={{image.image.url}}></a>
      {% endfor %}
      <div class=" prop_details listingfontsize">
        <table class='table'>
          <tr>
            <td><strong> {{prop.property_type|title}}</strong></td>

            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="fas fa-tag"></i><strong> {{prop.price}}</strong></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="fas fa-map-marker-alt"></i> {{prop.location}}</td>
          </tr>
          <table class="table">


            <tr>
              <td><i class="fas fa-bed"></i> {{prop.bed}}</td>
              <td><i class="fas fa-bath"></i> {{prop.bath}}</td>
              <td><i class="far fa-square"></i> {{prop.size}}sqm</td>
            </tr>
          </table>
        </table>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="text-center">
    <h4>No recent listings</h4>
  </div>

  {% endfor %}
</div>
<div class="text-center">
  <a href="{% url 'realtor:sale_list' %}">
    <button type="button" name="button">
      <h4>View All Sales</h4></button>
  </a>

</div>
<!--
  <div class="container">
    <div class="col-md-4">
      <figure class="effect-marley">
        <img src={% static "img/11.jpg" %} alt="" class="img-responsive"/>
        <figcaption>
          <h4>sweet marley</h4>
          <p>Marley tried to convince her but she was not interested.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4">
      <figure class="effect-marley">
        <img src={% static "img/12.jpg" %} alt="" class="img-responsive"/>
        <figcaption>
          <h4>sweet marley</h4>
          <p>Marley tried to convince her but she was not interested.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4">
      <figure class="effect-marley">
        <img src={% static "img/13.jpg" %} alt="" class="img-responsive"/>
        <figcaption>
          <h4>sweet marley</h4>
          <p>Marley tried to convince her but she was not interested.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

-->
<br>
<br>

<footer>
  <div class="container">
    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
      <h4>About Us</h4>
      <p>Elageo Ltd</p>
      <div class="contact-info">
        <ul>
          <li><i class="fa fa-home fa"></i>North Kaneshie, Accra </li>
          <li><i class="fa fa-phone fa"></i> 0552723018 / 0506103877 / 0503361449</li>
          <li><i class="fa fa-envelope fa"></i> info@elageo.online</li>
        </ul>
      </div>
    </div>


    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
      <h4>Links</h4>

      <div class="contact-info">
        <ul>
          <li id="sub-footer-text"><i class="fas fa-angle-right"></i> <a href="{% url 'aboutus' %}">About Us</a></li>
          <li id="sub-footer-text"><i class="fas fa-angle-right"></i> <a href="{% url 'services' %}">Services</a></li>
          <li id="sub-footer-text"><i class="fas fa-angle-right"></i><a href="{% url 'realtor:rent_list' %}">Rent</a> </li>
          <li id="sub-footer-text"><i class="fas fa-angle-right"></i><a href="{% url 'realtor:sale_list' %}">Sale</a> </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
      <!-- <h4>Social</h4> -->
      <div class="contact-info">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ul class="social-network">
          <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
    </div>

    <!--
    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
      <div class="text-center">
        <h4>Photo Gallery</h4>
        <ul class="sidebar-gallery">
          <li><a href="#"><img src={% static "img/gallery1.png" %} alt="" /></a></li>
          <li><a href="#"><img src={% static "img/gallery2.png" %} alt="" /></a></li>
          <li><a href="#"><img src={% static "img/gallery3.png" %} alt="" /></a></li>
          <li><a href="#"><img src={% static "img/gallery4.png"  %}alt="" /></a></li>
          <li><a href="#"><img src={% static "img/gallery5.png"%} alt="" /></a></li>
          <li><a href="#"><img src={% static "img/gallery6.png"  %}alt="" /></a></li>
        </ul>
      </div>
    </div>
  -->

    <!--
    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
      <div class="">
        <h4>Newsletter Registration</h4>
        <p>Subscribe today to receive the latest Day news via email. You may unsubscribe from this service at any time</p>
        <div class="btn-gamp">
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter Email">
        </div>
        <div class="btn-gamp">
          <a type="submit" class="btn btn-default">Subscribe</a>
        </div>

    </div>
-->
  </div>
</footer>
{% endblock %}
